# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Run All Tests': 'node-js:mocha-run'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'node-js'
      'submenu': [
        { 'label': 'Run All Tests', 'command': 'node-js:mocha-run' }
      ]
    ]
  }
]
